# a requirement for deploying to github pages
# https://www.sphinx-doc.org/en/master/tutorial/deploying.html#publishing-your-html-documentation
furo==2021.11.16

# Sphinx
sphinx
numpydoc
pydata-sphinx-theme
# for rendering .ipynb files
myst-nb

# requirements for running notebooks
jupyterlab
matplotlib
numpy
scipy